html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  color: inherit;
  padding: 0;
  border: 0;
  cursor: pointer;
}

body {
  color: #d6f1ca;
  font-family: 'Geist Mono', monospace;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

[class*='__container'] {
  max-width: 1740px;
  padding-inline: 10px;
  margin: 0 auto;
}

/* HEADER */

.container {
  max-width: 1740px;
  padding-inline: 10px;
  margin: 0 auto;
}

.header {
  background-color: #191919;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;
}

.meniu__list {
  display: flex;
  gap: 5px;
}

.meniu__link {
  padding: 10px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
}

/* MAIN SECTION TOP */

.top {
  width: 100%;
  height: 960px;
  background-image: url('../images/top-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 180px 0 180px;
}

.top__inner {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 136px);
  max-width: 900px;
}

.top__pretext {
  font-size: 16px;
  margin-bottom: 10px;
}

.top__title {
  font-family: 'Tilt Warp', sans-serif;
  font-size: 140px;
  line-height: 160px;
  font-weight: 400;
  letter-spacing: -6px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.top__text {
  max-width: 495px;
  margin-bottom: 40px;
}

.top__btn {
  background-color: #138561;
  padding: 20px;
  max-width: 608px;
  font-size: 16px;
  font-weight: 600;
}

/* -----SECTION EVENT----- */

.event {
  background-color: #191919;
  padding-top: 100px;
}

.event__title {
  font-family: 'Tilt Warp', sans-serif;
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto 40px;
  font-size: 100px;
  line-height: 89px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.event__text {
  max-width: 720px;
  padding: 0 10px 40px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.event__list {
  padding: 420px 0 145px;
  background-image: url('../images/event-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.event__list-inner {
  max-width: 1480px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.event__list-item {
  padding-left: 20px;
  border-left: 1px solid rgba(214, 241, 202, 0.2);
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.event__list-item dd {
  font-family: 'Tilt Warp', sans-serif;
  font-weight: 400;
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: -6px;
}

/* -----SECTION PLAYERS----- */

.players {
  background-color: #191919;
  padding: 84px 0;
}

.players__title {
  font-family: 'Tilt Warp', sans-serif;
  font-size: 100px;
  line-height: 89px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.players__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 140px 10px;
}

.players__item {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.players__img {
  position: absolute;
  bottom: 60px;
  width: 100%;
  /* max-height: 100%; */
  left: 0;
  right: 0;
  margin: 0 auto;
}
.plyers__item-box {
  padding: 24px 10px 20px 10px;
  background-color: #fff;
  position: absolute;
  bottom: 24px;
  left: 20px;
  right: 20px;
}

.players__item-name {
  font-family: 'Tilt Warp', sans-serif;
  font-weight: 400;
  color: #191919;
  font-size: 28px;
  line-height: 30px;
  text-transform: capitalize;
  letter-spacing: -1%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.players__item-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: rgba(25, 25, 25, 0.43);
}

/* -----SECTION ATMOSPHERE----- */

.atmosphere {
  background-image: url('../images/atmosphere-bg.jpg');

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.atmosphere__inner {
  min-height: 100svh;
  padding-top: 40px;
  padding-bottom: 114px;
  display: flex;
  flex-direction: column;
}

.atmosphere__box {
  max-width: 968px;
  padding: 20px 44px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(11, 13, 19, 0.3);
  margin: 0 auto auto;
  text-align: center;
}

.atmosphere__title {
  font-family: 'Tilt Warp', sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 89%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.atmosphere__text {
  line-height: 24px;
  text-align: center;
}

.atmosphere__list {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 16px;
  border-top: 1px;
  border-top: 1px solid rgba(214, 241, 202, 0.2);
}

/* -----SLIDER----- */

.slider {
	padding: 100px 0;
	background-color: #191919;
}

.swiper {
	background-image: url('../images/slider-bg.jpg');
}
	

.slider__content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	padding: 80px 0;
}

.slider__content-img {
	border-radius: 26px;
}

.slider__content-text {
	max-width: 694px;
}

.slider__content-text p {
	margin-bottom: 22px;
	color: #D9D9D9;
}

	.slider__content-name {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 22px;
	line-height: 142%;
	color: #d9d9d9;
	}

	.slider__content-desc {
	margin-bottom: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 144%;
	opacity: 0.7;
	}

	.slider-btn {
		position: absolute;
		cursor: pointer;
		top: 20px;
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 50%;
		z-index: 10;
	}

	.slider-button-prev {
		transform: rotate(180deg);
		left: 0;
		color: #fff;
	}

	.slider-button-next {
		right: 0;
		top: 20px;
		color: #fff;
	}

	.swiper-button-disabled {
		display: none;
	} 

	.swiper-pagination {
		font-size: 24px;
		font-weight: 500;
		color: #fff;
		position: absolute;
		display: inline-flex;
		justify-content: flex-end;
		bottom: 60px;
	}
	

	



/* -----SECTION NEXT MATCH----- */

.next-match {
  background-image: url('../images/next-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 237px 0;
  text-align: center;
}

.next-match__title {
  font-family: 'Tilt Warp', sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 89%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  margin: 0 auto 40px;
  max-width: 785px;
}

.next-match__text {
  max-width: 577px;
  margin: 0 auto 40px;
}

.next-match__btn {
  display: inline-block;
  background-color: #138561;
  padding: 20px 15px;
  font-size: 16px;
  line-height: 16px;
}

/* FOOTER */

.footer {
  background-color: #191919;
  padding: 40px 0 80px;
  height: 70px;
}

.footer__top {
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  font-size: 13px;
  line-height: 21px;
  color: rgba(214, 241, 202, 0.7);
}
